@media(max-width: 480px){
    .navigation{
        display: none;
        background-image: url("/pics/pic.jpg");
        background-position: center;
        top: 50%;
    }
    
    #toggleButton{
        display: block;
    }
    .div_wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav_ul{
        flex-direction: column;
        align-items: center;
    }
    .navigation.activeNav{
        display: block;
        width: 100%;
    }

    .a_nav{
        font-size: 50px;
        color: white;
    }

}